* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0 0 15px 0;
}

h1 {
    font-size: 2.813em;
    font-weight: 700;
    color: $blue;
}

h2 {
    font-size: 1.875em;
}

h3 {
    font-size: 1.250em;
}

p {
    margin: 0 0 16px;
    padding: 0;
    line-height: 1.5em;
}

a {
    color: $blue;
    text-decoration: none;
    margin-right: 5px;
    position: relative;

    &:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 1px;
        background: $blue;
        transition: 0.5s all;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    padding: 10px 15px;
    border: 1px solid $blue;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: $blue;
    transition: 0.5s all;
    border-color: $blue;

    &:hover {
        background-color: $d-blue;
    }

    &.btn-danger {
        background-color: $b-red;
        border-color: $b-red;

        &:hover {
            background-color: $d-red;
        }
    }

    &:disabled,
    &[disabled] {
        background-color: $grey;
        border-color: $grey;
        cursor: not-allowed;
    }
}

.alert {
    margin-top: 15px;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid $lr-green;
    border-radius: .25rem;
    color: $green;
    background-color: $l-green;

    &.alert-error {
        color: $red;
        background-color: $l-red;
        $border-color: $lr-red;
    }
}

.highlighted {
    color: $blue;
}

.image-upload {
    .btn {
        margin: 0 5px;
    }
}