.site-info {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $primary;
    padding-top: 25px;

    & * {
        width: 50%;
    }

    .site-name {
        text-align: left;
    }

    & .site-author {
        text-align: right;
    }
}