.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 20px;
    text-align: left;
    
    .modal {    
        max-width: 900px;
        position: relative;
        top: 50%;
        top: auto;
        margin: 0 auto;
        background: #fff;
        width: 100%;
        padding: 20px;
        border-radius: 3px;
        
        .modal-close {
            cursor: pointer;
            position: absolute;
            right: 15px;
            color: $grey;
            top: 15px;
            transition: 0.5s all;

            &:hover {
                color: $primary;
            }
        }

        .modal-content {
            padding-top: 10px;
            min-height: 85px;
        }

        .img-loader {
            display: none;
            width: 70px;
            margin: 0 auto;
        }

        h3 {
            border-bottom: 1px solid $grey;
            padding-bottom: 5px;
            color: $blue;
        }

        input[type=text] {
            height: calc(1.5em + .75rem + 6px);
            padding: .375rem .75rem;
            line-height: 1.5;
            background-color: $white;
            border: 1px solid $blue;
            border-radius: .25rem;
            width: 100%;
            margin: 10px 0 15px 0;
        }

        .upload-container {
            position: relative;
            height: calc(1.5em + .75rem + 2px);

            input[type=file] {
                width: 100%;
                height: calc(1.5em + .75rem + 2px);
                opacity: 0;
            }

            label {
                position: absolute;
                top: -1px;
                right: -1px;
                left: 0;
                z-index: 1;
                height: calc(1.5em + .75rem + 2px);
                padding: .375rem .75rem;
                line-height: 1.5;
                background-color: $white;
                border: 1px solid $blue;
                border-radius: .25rem;
                overflow: hidden;
                cursor: pointer;

                &:after {
                    content: "Browse";
                    position: absolute;
                    top: -1px;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    padding: .375rem .75rem;
                    color: $white;
                    background-color: $blue;
                    border-left: inherit;
                    border-radius: 0 .25rem .25rem 0;
                    transition: 0.5s all;
                }

                &:hover {
                    &:after {
                        background-color: $d-blue;
                    }
                }
            }
        }
    }
}