.image-upload-table {
    min-height: 60vh;
    margin: 50px 0;
    width: 100%;
    overflow-x: auto;

    img {
        width: 100%;
        max-width: 300px;
    }

    table {
        margin: 0 auto;
        border-collapse: collapse;

        tr {

            &:nth-child(even) {
                background-color: $tr-color;
            }

            &:last-of-type {
                td {
                    border-bottom: 0;
                }
            }

            th {
                width: 22%;
                color: $blue;
                padding: 15px 0px;
                border-color: $brdr-color;
                border-style: solid;
                border-width: 0px 1px 1px 0px;

                &:last-of-type {
                    width: 12%;
                    border-right: 0;
                }
            }

            td {
                border-color: $brdr-color;
                border-style: solid;
                border-width: 0px 1px 1px 0px;
                padding: 15px 10px;
                font-size: 14px;

                &:last-of-type {
                    border-right: 0;
                }
            }
        }
    }
}