$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";
$primary: #000;
$white: #ffffff;
$grey:#808080;
$blue: #007bff;
$d-blue: #0069d9;
$green: #155724;
$l-green: #c3e6cb;
$lr-green:#d4edda;
$red: #721c24;
$b-red: #dc3545;
$d-red: #c82333;
$l-red: #f5c6cb;
$lr-red: #f8d7da;
$brdr-color: rgba(0, 123, 255, 0.3);
$tr-color: rgba(0, 123, 255, 0.1);